#map {
    width: 100%;
    height: 550px;
}

.DM-0 { fill: rgb(255, 255, 0); }
.DM-1 { fill: rgb(252, 211, 127); }
.DM-2 { fill: rgb(255, 170, 0); }
.DM-3 { fill: rgb(230, 0, 0); }
.DM-4 { fill: rgb(115, 0, 0); }

.states {
    fill: none;
    stroke: #ddd;
    stroke-width: 1;
}

.land {
    fill: #eee;
}
