<!doctype html>
<html lang="en">
<head>
    <title>The Drought</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="components/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="components/bootstrap/css/bootstrap-responsive.css">

    <link rel="stylesheet" type="text/css" href="components/jquery-ui/themes/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/drought.css">

    <style type="text/css">
    #chart {
    	height: 200px;
    	width: 100%;
    }
    </style>
</head>
<body>
	<div class="container">

		<div class="row">
			<div id="map" class="span8">
                <svg class="overlay"></svg>
			    <img src="img/drought/usdm130702.png">
			</div>
            <div class="caption national span4"></div>
		</div>

		<div class="row">
			<div id="chart" class="span12"></div>
		</div>

		<div class="row">
			<div id="slider" class="span12"></div>
		</div>

	</div>
    
    <script type="x-jst" id="caption-template">
    <h4>Week: <%= formats.date(Week) %></h4>
    <ul class="drought-levels unstyled">
        <li><span class="Nothing"></span>No drought: <%= formats.percent(Nothing) %></li>
        <li><span class="D0"></span>Abnormally Dry: <%= formats.percent(D0) %></li>
        <li><span class="D1"></span>Moderate: <%= formats.percent(D1) %></li>
        <li><span class="D2"></span>Severe: <%= formats.percent(D2) %></li>
        <li><span class="D3"></span>Extreme: <%= formats.percent(D3) %></li>
        <li><span class="D4"></span>Exceptional: <%= formats.percent(D4) %></li>
    </ul>
    </script>

    <script src="js/weeks.js"></script>
    <script src="components/underscore/underscore.js"></script>
    <script src="components/d3/d3.js" charset="utf-8"></script>
    <script src="components/crossfilter/crossfilter.js"></script>
    <script src="components/topojson/topojson.js"></script>
    <script src="js/chart.js"></script>

    <script type="text/javascript">
    var IMG_PATH = "img/drought/";

    d3.json('data/us.json', function(err, us) {

        window.us = us;

        var height = 600
          , width = 960;

        var svg = d3.select('svg.overlay').append('g')
            .attr('class', 'layers')
            .attr('transform', 'translate(0,0)');
        
        var projection = d3.geo.albersUsa()
            .scale(1280 * .75)
            .translate([width / 2 - 120, height / 2 - 75]);
        
        var path = d3.geo.path().projection(projection);

        var states = topojson.feature(us, us.objects.states);

        svg.selectAll('path.state')
            .data(states.features)
          .enter().append('path')
            .attr('class', 'state')
            .attr('d', path);

    });
    </script>

</body>
</html>